*{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto Mono', monospace;
}
.intro-pera{
    font-size: 44px;
}

.pro-images{
    width: 40%;
    border: 5px solid rgb(223, 158, 106);
    border-radius: 20px;
}
.pro-aner{
    text-decoration: none;
}